
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: blue;
}

#container{
    border:2px solid;
    display: flex;
    justify-content: space-evenly;
    background-color: teal;
}

.items {
    border: solid white;
    float: 1;
    padding: 10px;
    text-align: center;
}

*/
.app-container {
    display: flex;
  }
  
  .sidebar {
    width: 0;
    background-color: #f0f0f0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav ul li {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #333;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ddd;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
  }
  
  .toggle-button:hover {
    background-color: #ccc;
  }
  
  .content {
    flex-grow: 1;
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 16px;
  }
  
  .content-open {
    margin-left: 250px;
  }